mixin modal-error()
  +b.modal-error.js-modalError
    +b.modal-error__backdrop.js-modalErrorClose
    +b.modal-block
      +b.modal-error__close.js-modalErrorClose
        +e('span')
        +e('span')
      +b('p') Введите корретные данные.
