mixin collections()
  +b('section').collections
    +b.head
      +e('hr')
      +e.circle
      +e('h2') Коллекции
      +e.circle
      +e('hr')
    +b.container
      +b.collections-items
        +e('a')(href='category.htmll').item
          +e('div').item__image
            +e('img')(src='assets/images/collections_item_1.png')
          +e('div').item__text
            +e('h3') Серьги
            +e('span') 15 продуктов
        +e('a')(href='category.html').item
          +e('div').item__image
            +e('img')(src='assets/images/collections_item_2.png')
          +e('div').item__text
            +e('h3') Подвески
            +e('span') 47 продуктов
        +e('a')(href='category.html').item
          +e('div').item__image
            +e('img')(src='assets/images/collections_item_3.png')
          +e('div').item__text
            +e('h3') Браслеты
            +e('span') 33 продуктов
        +e('a')(href='category.html').item
          +e('div').item__image
            +e('img')(src='assets/images/collections_item_4.png')
          +e('div').item__text
            +e('h3') Цепочки
            +e('span') 15 продуктов
        +e('a')(href='category.html').item
          +e('div').item__image
            +e('img')(src='assets/images/collections_item_5.png')
          +e('div').item__text
            +e('h3') Гайтаны
            +e('span') 47 продуктов
