extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/cabinet-page/cabinet-asks/cabinet-asks
include ../components/footer/footer

block head
  - var pageTitle = 'Main';

block content
  +header()
  +cabinet-asks()
  +footer()
