extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/cabinet-page/cabinet-password/cabinet-password
include ../components/footer/footer

block head
  - var pageTitle = 'Main';

block content
  +header()
  +cabinet-password()
  +footer()
