extends ../components/layout-default/layout-default
include ../components/header-main/header-main
include ../components/main/banner/banner
include ../components/main/collections/collections
include ../components/main/about-brand/about-brand
include ../components/main/main-news/main-news
include ../components/footer/footer

block head
    - var pageTitle = 'Main';

block content
  +header-main()
  +banner()
  +collections()
  +about-brand()
  +main-news()
  +footer()
