mixin footer()
  +b.footer
    +e('ul').left
      +e('li')
        +e('a')(href='brand.html') о бренде
      +e('li')
        +e('a')(href='partners.html') партнеры
      +e('li')
        +e('a')(href='news.html') новости
      +e('li')
        +e('a')(href='contacts.html') контакты
    +e('a')(href='#') Обратная связь
    +e('span') Copyright © 2018 MDkidsjewellery
