mixin footer()
  +b.footer
    +e('ul').left
      +e('li')
        +e('a')(href='#') о бренде
      +e('li')
        +b('a')(href='#') коллекции
      +e('li')
        +e('a')(href='#') партнеры
      +e('li')
        +e('a')(href='news.html') новости
      +e('li')
        +e('a')(href='#') контакты
    +e('a')(href='#') Обратная связь
    +e('span') Copyright © 2018 MDkidsjewellery
