include ../cabinet-nav/cabinet-nav

mixin cabinet-password()
  +b.cabinet-password.mb-cabinet
    +b.cabinet-head
      +e('h2') Здравствуйте,
        +e('span') Евгения Бухтиярова
    +b.container_cabinet
      +cabinet-nav()
      +b('form').pass-cabinet
        +e('h2') Изменение пароля
        +e.inputs
          +e('input')(type='password' placeholder='Текущий пароль')
          +e('input')(type='password' placeholder='Новый пароль')
          +e('input')(type='password' placeholder='Повторите пароль')
          +e('button') Изменить
